body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #0074D9;
    color: #ffffff;
    padding: 20px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin: 10px;
}

form {
    background-color: #ffffff;
    align-items: center;
    max-width: 20%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    height: 40px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#mensaje{
    color: #f00;
    font: size 18px;
}

#mensaje2{
    color: #f00;
    font: size 18px;
}

.fila {
    display: flex;
    justify-content: space-around;
    background-color: #0074D9;
    color: #ffffff;
    padding: 10px;
}

.item-menu {
    padding: 10px;
}

.item-menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.item-menu a:hover {
    color: #ff4d4d;
}

.regresar{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0074D9;
    color: #ffffff;
    text-decoration: none;
    max-width: 200px; 
}

.regresar:hover{
    background-color: #0056b3;

}